@model IEnumerable<SchoolManagement.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Fee.FeeAmount) - @Html.DisplayFor(modelItem => item.Fee.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.InstructorName)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                <div>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
